@{
    ViewData["Title"] = "Overview";
}

<h2>Kenneth Edoho</h2>
<p>I am an enthusiastic developer that strives to learn something new every day. With experience in C#, .NET, and building Web APIs. I am a good communicator and a problem-solver committed to meeting timelines.</p>
<p>Email: kennethtibele@gmail.com</p>
<p>Phone: +2348138933344</p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/kennycode/">Kenneth Edoho</a></p>
<p>GitHub: <a href="https://github.com/Kenneth075">Kenneth075</a></p>
